.icon{
    width: 40px;
}

.post{
    display: flex;
    flex-flow: wrap;
    width: 80vw;
}

.postImage{
    width: 16vw;
}

h2{
    font-size: 0.8em;
    color: #642869;
}

p{
    font-size: 0.5em;
    color: #642869;

}

.btn-readmore{
    font-size: 7px;
    font-weight: normal;
    padding: 6px 10px;
}

article{
    padding: 5px;
}