/***  ROOT  ***/
:root {
    /* Colors */
    --accent-color-red: #e54444;
    --accent-color-purple: #642869;
    --accent-color-light-grey: #f3f3f3;
    --accent-color-dark-grey: #464869;
    --accent-color-black: #161622;
    /* Typefaces */
    --display-font: 'Pacifico', cursive;
    --text-font: 'Open Sans', sans-serif;
}

/***  GENERAL STYLING  ***/
body {
    margin: 0px;
    padding: 0px;
    font-family: var(--text-font);
}
nav {
    height: 90px;
    background-color: var(--accent-color-light-grey);
    color: var(--accent-color-purple);
    display: flex;

}
/*** Menu ***/
.logo--yfu {
    height: 80px;
}
