/***  ROOT  ***/
:root {
    /* Colors */
    --accent-color-red: #e54444;
    --accent-color-purple: #642869;
    --accent-color-light-grey: #f3f3f3;
    --accent-color-dark-grey: #464869;
    --accent-color-black: #161622;
    /* Typefaces */
    --display-font: 'Pacifico', cursive;
    --text-font: 'Open Sans', sans-serif;
}



/*** GRID ***/
.grid__youtube {

}
.grid__forum {

}


/***  GENERAL STYLING  ***/
body {
    margin: 0px;
    padding: 0px;
    font-family: var(--text-font);
    display: flex;
    flex-direction: column;
    align-items: center;

}
li {
    list-style-type: none;
}
video {
    width: 100%    !important;
    height: auto   !important;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.rotate {
    transform-origin: center;
    transform: rotate(180deg);
}
.margin--20 {
    margin: 20px;
}
.clickable {
    cursor: pointer;
}
.align--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading--red {
    width: 100vw;
    height: 120px;
    background-color: var(--accent-color-red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
button {
    color: white;
    background-color: var(--accent-color-red);
    font-size: 12px;
    font-weight: bold;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    transition: .3s ease-out;
    margin: 10px;
}
button:hover {
    opacity: 0.8;
}
form {
    margin-left: 100px;
}
input {
    margin: 20px 0px;
    border: 1px solid var(--accent-color-purple);
    height: 25px;
    border-radius: 2px;
}
input::placeholder {
    color: lightgrey;
    padding: 10px;
}
footer {
    width: 100vw;

}



/*** Menu ***/
nav {
    width: 100vw;
    height: 60px;
    background-color: var(--accent-color-light-grey);
    color: var(--accent-color-purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: bolder;
    border-bottom: 2px solid var(--accent-color-purple);
    position: sticky;
    z-index: 3;
    top: 0px;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    color: rgba(100, 40, 105, .7);
}
li {
    cursor: pointer;
}
li:hover {
    color: rgba(100, 40, 105, .9);
    transition: .1s ease-out;
    transform: scale(1.05);
}
.current {
    font-size: 16px;
    font-weight: bold;
    color: var(--accent-color-purple);
}
.logo--yfu {
    height: 60px;
    padding-left: 10px;
}
.email__menu {
    border: 1px solid var(--accent-color-purple);
    border-radius: 4px;
    color: var(--accent-color-purple);
}
.email__menu p {
    margin: 0px;
    padding: 0px 5px;
}



/*** IMAGES ***/
.img {
    height: 140px;
}
.img--m {
    height: 200px;
}
.img--airplane {
    height: 140px;
    position: absolute;
    z-index: 2;
    top: 25px;
    right: 1%;
    transform-origin: center;
    transform: rotate(10deg);
}
.img__clouds--left {
    position: absolute;
    z-index: 3;
    top: 2%;
    left: 1%;
}
.img__clouds--right {
    position: absolute;
    z-index: 3;
    top: 6%;
    right: 6%;
}
.img__chatbot {
    max-height: 60px;
    position: sticky;
    z-index: 2;
    bottom: 7%;
    left: 90%;
}
.img__finger {
    height: 130px;
    top: 57%;
    left: 15%;
    z-index: 2;
    transform: rotate(-10deg);
    transform-origin: center;
}
.img__stars {
    top: 80%;
    right: 10%;
}
.img__boy {
    border: 3px solid var(--accent-color-red);
    border-radius: 50%;
}
.img__rocket {
    top: 70%;
    right: 2%;
}
.img__envelope {
    height: 150px;
    transform-origin: center;
    transform: rotate(-20deg);
    top: 25%;
    left: 10%;
}
.img__globe {
    max-height: 500px;
    padding-top: 15%;
}
.img__airplane--s {
    height: 250px;
    top: 50%;
    right: 1%;
}
.img__star {
    height: 400px;
    transform-origin: center;
    transform: rotate(-15deg);
    top: -20%;
    right: 5%;
}
.img__stars--bottom {
    top: 50%;
    left: 5%;
}



/* Globe */
.container__globe {
    width: 100vw;
    height: 145vh;
    display: flex;
    flex-direction: column;
}
#svg__buildings {
    transform-origin: center;
    animation: spin 150s linear infinite;
}
.cloud__title {
    height: 230px;
    width: 80%;
    background: url("../img/cloud-title.png") no-repeat center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 1;
}



/* Review */
.wrapper__review {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: white;
    flex-wrap: wrap;
}
.section__review--grey {
    width: 100vw;
    height: 70vh;
    background: var(--accent-color-light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 55%;
    z-index: 0;
}
.arrow--left {

}
.arrow--right {

}



/* Instagram Feed */
.instagram {
    margin-top: 35px;
}
.hashtag {
    top: 5%;
    left: 10%;
    transform-origin: center;
    transform: rotate(-20deg);
}
.ig__logo {
    height: 70px;
    top: 30%;
    right: 10%;
    transform-origin: center;
    transform: rotate(20deg);
}
.ig__text {

}


/* Youtube section */
.container__youtube {
    height: 120vh;
    background-color: var(--accent-color-light-grey);
}



/* Newsletter */
.container__newsletter {
    height: 60vh;
}
.newsletter {
    width: 70vw;
    border: 1px solid var(--accent-color-light-grey);
    border-radius: 5px;
    height: 70%;
    box-shadow: 0px 10px 40px rgba(100, 40, 105, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}
#input__email {
    width: 200px;
    margin-right: 10px;
}
#submit {
    color: white;
    background-color: var(--accent-color-purple);
    font-weight: bold;
    width: ;
}


/* Forum */
.container__forum {

}
.forum__submenu {
    padding: 2px 30%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 68, 68, .6);
}
.forum {

}


/* Footer */
.so-me {
    width: 100%;
}
.contacts {

}


/*** TEXT STYLING ***/
.text__details {
    font-size: 10px;
}
.text__title {
    font-family: var(--display-font);
    margin: 0px;
    font-size: 1.7em;
}
.text__subtitle {
    font-weight: normal;
    font-size: .9em;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.text__subtitle--small {
    font-size: 1em;
    text-align: center;
}
.text--purple {
    color: var(--accent-color-purple);
}
.text--black {
    color: var(--accent-color-black);
}
.text--white {
    color: white;
}
.paragraph--small {
    width: 40%;
    margin: 20px;
}



/*** ANIMATIONS ***/

/* Keyframes */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}